= render partial: 'items/shared/header'
.category-container.clearfix
  %main.c-container
    %section.c-title
      %h2
        カテゴリー一覧
    .large-main
      .large-category
        - @category.each do |category|
          %a.category-box
            %p.l-category-n
              = category.large_category
  %main.m-container.clearfix
    %section.l-title.clearfix
      %h4
        レディース
    .medium-main
      .medium-category
        - @mcategory.each do |mcategory|
          .category-box
            %li.m-category-n
              = mcategory.medium_category
          %a.s-category
            - @scategory.each do |scategory|
              %p
                =link_to "/large_category/1/medium_category/1/small_category/36?small_category_id=1", class: "name" do
                  = scategory.small_category
    %section.l-title.clearfix
      %h4
        メンズ
    .medium-main
      .medium-category
        - @mcategory.each do |mcategory|
          .category-box
            %li.m-category-n
              = mcategory.medium_category
          %a.s-category
            - @scategory.each do |scategory|
              %p
                =link_to "/large_category/1/medium_category/1/small_category/36?small_category_id=1", class: "name" do
                  = scategory.small_category
    %section.l-title.clearfix
      %h4
        ベビー・キッズ
    %section.l-title.clearfix
      %h4
        インテリア・住まい・小物
    %section.l-title.clearfix
      %h4
        本・音楽・ゲーム
    %section.l-title.clearfix
      %h4
        おもちゃ・ホビー・カメラ
    %section.l-title.clearfix
      %h4
        コスメ・香水・美容
    %section.l-title.clearfix
      %h4
        家電・スマホ・カメラ
    %section.l-title.clearfix
      %h4
        スポーツ・レジャー
    %section.l-title.clearfix
      %h4
        ハンドメイド
    %section.l-title.clearfix
      %h4
        チケット
    %section.l-title.clearfix
      %h4
        自転車・オートバイ
    %section.l-title.clearfix
      %h4
        その他

  = render partial: 'users/footer_sell_btn'
= render partial: 'items/shared/footer'
