= render partial: 'items/shared/header'
%main.item-box-list.clearfix
  .item-content
    %ul.parts-nav.clearfix
      - @small_category_items.each do |scategory|
        %li
          %a.l-category-n
            = scategory.small_category
    %section.item-box-content.clearfix
      %h1.items-box-head.clearfix.bold= "#{@items.first.medium_category.medium_category}の商品一覧"
      = render partial: 'form', collection: @items, as: "item"
  = render partial: 'users/footer_sell_btn'
=render "items/shared/footer"

