= "#{@small_category_items.first.small_category.small_category}の商品一覧"
- @small_category_items.each do |item|
  %section.item-box
    =link_to item_path(item.id) do
      %figure.item-box__photo
        .item-box-image
          = image_tag item.images.first.image, size: "213x213"
      .item-box__text
        %h3.item-box__text__name.font-2
          = item.item_name
        .item-box__text__num.clearfix
          .item-box__text__num__price
            = item.price
          .item-box__text__num__likes.font-2
            %i{class: "far fa-heart heart-icon"}
            %span 10
          .item-box__text__num__tax  (税込)
