%p ページ変わってるよ！
%h2 アカウント作成
= form_for @user, url: {action: "complete"} do |f|
  = devise_error_messages!
  .field
    = f.label :"お名前"
    %br/
    = f.text_field :family_name, autofocus: true, placeholder:"例）山田"
    = f.text_field :first_name, autofocus: true, placeholder:"例）彩"
  .field
    = f.label :"お名前カナ"
    %br/
    = f.text_field :kana_family_name, autofocus: true, placeholder:"例）ヤマダ"
    = f.text_field :kana_first_name, autofocus: true, placeholder:"例）アヤ"
  .field
    = f.label :郵便番号
    = f.text_field :postal_code, placeholder:"例）123-4567"
  .field
    = f.label :"都道府県"
    %br/
    = f.select :prefecture, User.prefectures.keys,{prompt: '選択してください'}, class: 'btn'
  %div
    = f.label :市区町村
    = f.text_field :residential_name, placeholder:"例）横浜市緑区"
  %div
    = f.label :番地
    = f.text_field :city, placeholder:"青山 1-1-1"
  / .g-recaptcha{"data-sitekey" => "6LcFXHcUAAAAAGVr-YARtUrrrsG8qQhlzxOcGxts"}
  .actions
    = f.submit "次へ進む"
  = invisible_recaptcha_tags
= render "devise/shared/links"
