.single-conteiner
  =render "items/shared/simple_header"
  .single-main
    .l-single-container
      .l-single-head
        %h2 会員情報入力
      .l-single-inner
        .l-single-content
          = form_for @user, url: {action: "confirm"} do |f|
            = devise_error_messages!
            .form-group
              = f.label :ニックネーム
              = f.label :必須, class: "required"
              = f.text_field :nickname, class: "input-default", autofocus: true, placeholder: "例）メルカリ太郎"
            .form-group
              = f.label :メールアドレス
              = f.label :必須, class: "required"
              = f.email_field :email, class: "input-default",placeholder: "PC・携帯どちらでも可"
            .form-group
              = f.label :パスワード
              = f.label :必須, class: "required"
              = f.password_field :password, class: "input-default",placeholder: "6文字以上"
            .form-group
              = f.label :パスワード
              = f.label :必須, class: "required"
              = f.password_field :password_confirmation, class: "input-default" , placeholder: "6文字以上"
            .form-group
              = f.submit "次へ進む", class: "next-submit"
  =render "items/shared/simple_footer"
  = invisible_recaptcha_tags
