%h2 アカウント作成
= form_for @user, url: {action: "confirm"} do |f|
  = devise_error_messages!
  .field
    = f.label :ニックネーム
    %br/
    = f.text_field :nickname, autofocus: true
    / = f.hidden_field :nickname, :value => @user.nickname
  .field
    = f.label :メールアドレス
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
    / = f.hidden_field :email, :value => @user.email
  .field
    = f.label :パスワード
    %br/
    = f.password_field :password, autocomplete: "new-password"
    / = f.hidden_field :password, :value => @user.password
  .field
    = f.label :"パスワード(確認)"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"

    / = f.hidden_field :password_confirmation, :value => @user.password_confirmation


  / .g-recaptcha{"data-sitekey" => "6LcFXHcUAAAAAGVr-YARtUrrrsG8qQhlzxOcGxts"}
  = invisible_recaptcha_tags


  .actions
    = f.submit "次へ進む"
    / =binding.pry
= render "devise/shared/links"
