= render partial: 'items/shared/header'
.mypage-container.clearfix
  %main.l-container
    %section.title
      %h2
        プロフィール
    %section.profile-icon
      = form_for @user  do |f|
        %figure
          = image_tag 'member_photo_noimage_thumb.png', :size =>'60x60', class: "user-image"
        .name-form
          = f.text_field :nickname, class: "name-default", autofocus: true,placeholder: "Ann", value: @user.nickname
        .form
          = f.fields_for :user_detail do |d|
            = d.text_area :profile, class: "input-default",placeholder: "初めまして、よろしくお願いします。", value: @userdetail.profile
            = d.submit "変更する", class: "update-submit"
  = render partial: 'sidebar', locals: { user: @user }
  = render partial: 'footer_sell_btn'
= render partial: 'items/shared/footer'
