= render partial: 'items/shared/header'
.mypage-container.clearfix
  = render partial: 'selling_list',locals: {items: @items}
  = render partial: 'sidebar'
  = render partial: 'footer_sell_btn'
= render partial: 'items/shared/footer'
