= render partial: 'items/shared/header'
.mypage-container.clearfix
  %main.l-container
    %section.mypage-tab-container
      %h2.mypage-tab-head.bold 出品した商品
      %ul.listing-tabs
        %li.active
          %h3  出品中
          %a
        %li
          %h3  取引中
        %li
          %h3  売却済
      .tab-content
        -# %ul.mypage-item-list
        -#   %li.mypage-item-not-found.bold 出品中の商品がありません
        %ul.notification__content
          %li
            %a.mypage-item-link
              %figure
                = image_tag "//static-mercari-jp.akamaized.net/images/mercari_profile.png", width: "48"
              .mypage-item-body
                .mypage-item-text
                  発送のお知らせ
                %time
                  %i.far.fa-clock.my-gray
                  %span 2 日前
                  %i.fas.fa-angle-right.fa-lg
          %li
            %a.mypage-item-link
              %figure
                = image_tag "//static-mercari-jp.akamaized.net/images/mercari_profile.png", width: "48"
              .mypage-item-body
                .mypage-item-text
                  発送のお知らせ
                %time
                  %i.far.fa-clock.my-gray
                  %span 2 日前
                  %i.fas.fa-angle-right.fa-lg
    %ul.mypage-history
      %li.paper-prev.paper-cell
      %li.paper-nextpaper-cell
  = render partial: 'sidebar'
  = render partial: 'footer_sell_btn'
= render partial: 'items/shared/footer'
