= render partial: 'items/shared/header'
.mypage-container.clearfix
  %main.logout-container
    .l-chapter-container
      .next-submit
        = link_to current_user_session_path, controller: :sessions, method: :delete do
          = submit_tag 'ログアウト', class: 'delete'
  = render partial: 'sidebar'
  = render partial: 'footer_sell_btn'
= render partial: 'items/shared/footer'

/ registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete