= flash[:notice]
= render partial: 'items/shared/header'
.mypage-container.clearfix
  = render partial: 'buying_list',locals: {items: @items}
  = render partial: 'sidebar'
  = render partial: 'footer_sell_btn'
= render partial: 'items/shared/footer'

//アカウント作成完了画面
.single-conteiner
  =render "items/shared/simple_header"
  .single-main
    .l-single-container
      .l-single-head
        %h2 アカウント作成完了
      .l-single-inner
        .l-single-content
          %a.next-submit{href: "/users/listing"}
            ユーザーページに進む
  =render "items/shared/simple_footer"
  = invisible_recaptcha_tags



//ユーザーログアウト画面
= render partial: 'items/shared/header'
.mypage-container.clearfix
  %main.l-container
    %section.l-single-inner
      .next-submit
        ログアウト
