= render partial: 'items/shared/header'
%main.item-box-list.clearfix
  .item-content
    %ul.parts-nav.clearfix
      - @small_category_items.each do |scategory|
        %li
          %a.l-category-n
            = scategory.small_category
    %section.item-box-content.clearfix
      %h1.items-box-head.clearfix.bold= "#{@blands_items.first.bland.bland}の商品一覧"
      = render partial: '/category/form', collection: @blands_items, as: "item"
  = render partial: 'users/footer_sell_btn'
=render "items/shared/footer"

