%header.header
  .header-innner
    .clearfix
      %h1.l-left
        =link_to root_path do
          %image{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?582886128", alt: "mercari", width: "134", height: "36"}
      .form
        %input{type: "search", class: "input-default", name: "keyword", placeholder: "キーワードから探す"}
          = fa_icon 'search', class: 'search-icon'
    .nav-box.clearfix
      %nav.menue-left
        %ul.item-menue
          %li.item-menue__list
            .link
              = link_to category_index_path, class: "user-menue__list__content link" do
                .text カテゴリーから探す
              = render '/items/shared/dropdown_category'
          %li.item-menue__list
            %a.link.user-menue__list__content ブランドから探す
            %ul.dropdown_category
              %li.dropdown_category__list
                %h3
                  %a ルイ ヴィトン
              %li
                %h3
                  %a ナイキ
              %li
                %h3
                  %a アディダス
              %li
                %h3
                  %a リーバイス
              %li
                %h3
                  %a その他のブランド
      %nav.menue-right
        %ul.user-menue
          %li.user-menue__list
            =link_to users_path, class: "user-menue__list__content link" do
              %figure
                %image{src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", width: "32", class: "user"}
              .text マイページ
          %li.user-menue__list
            %a.user-menue__list__content.link
              %i{class: "far fa-bell bell-icon"}
              .text お知らせ
          %li.user-menue__list
            %a.user-menue__list__content.link
              = fa_icon 'check', class: 'check-icon'
              .text  やることリスト
.flash_wrapper
  .flash_box
    .flash_box--notice
      = flash[:notice]
    .flash_box--alert
      = flash[:alert]
    .flash_box--info
      = flash[:info]
