= render partial: 'items/shared/header'
%main.item-box-list.clearfix
  .item-content
    %section.item-box-content.clearfix
      %h1.items-box-head.clearfix.bold= "#{@items.first.prefecture}の商品一覧"
      = render partial: 'category/form', collection: @items, as: "item"
  = render partial: 'users/footer_sell_btn'
=render "items/shared/footer"

