.single-container
  = render "items/shared/simple_header"
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2 購入を確定しますか？
      %section.buy-item
        .buy-content
          .buy-content__image
            = image_tag @image.image, class: "buy-img"
          %p.buy-content__name.bold
          = @item.item_name
          .buy-content__form
            %span.buy-price.bold¥
            %span.buy-price.bold
              = number_to_currency(@item.price, unit:"", precision: 0)
              %span.item-shipping-fee 送料込み
            .buy-point
              ポイントを使う
              = fa_icon 'angle-down', class: "icon-arrow-right"
            .buy-price-table
              %ul.buy-you-pay.bold
                %li.buy-price-cell 支払い金額
                %li.buy-price-cell
                  %span.data-buy-pay￥
                  %span.data-buy-pay
                  = number_to_currency(@item.price, unit: "",precision: 0)
            - if (@user_detail.prefecture.present? && @user_detail.city.present? && @user_detail.address.present?)
              %p.has-error-text
                購入にお進みください。
              %button.btn-default.bold
                = form_tag action: :payjp, method: :post do
                  %script.payjp-button{"data-key" => PAYJP_PUBLIC_KEY, "data-text" => "購入する", src: "https://checkout.pay.jp/", type: "text/javascript"}
            - else
              %p.has-error-text 配送先の入力を完了してください。
              / 配送先と支払い方法の入力を完了してください。
              %button.btn-default.btn-gray.bold
                購入する
      %section.buy-item.buy-user-info
        .buy-content-inner
          %h3.bold 配送先
          %address.buy-user-info-text
            = "〒#{@user_detail.postal_code}"
            %br
              = @user_detail.prefecture
              = @user_detail.city
              = @user_detail.address
          .buy-user-info-fix
            = link_to "変更する", edit_user_user_detail_path(id: current_user.id, user_id: @user_detail.user_id)
            = fa_icon 'angle-right', class: "icon-arrow-right"
      %section.buy-user-info.buy-item
        .buy-content-inner
          %h3.bold 支払い方法
          %p.buy-user-info-text
            クレジット番号
          %a.buy-user-info-fix
            %span 変更する
            = fa_icon 'angle-right', class: "icon-arrow-right"
  = render "items/shared/simple_footer"
  :css
    #payjp_checkout_box input[type=button]
    {
    -webkit-appearance:none;
    border-radius:none;
    display:inline-block;
    padding:.5em 1em;
    font-size:12px;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    border:none;
    background-color: white;
    width: 320px;
    height: 50px;
    background-image: linear-gradient(#ea352d 0,#ea352d 48%,#ea352d 100%);
