.single-container
  =render "items/shared/simple_header"
  = form_for @item do |f|
    %main.single-main
      %section.l-single-container
        .sell-inner
          %h2.l-single-head  商品の情報を入力
          %form.sell-form
            .sell-upload-box
              %h3
                出品画像
                %span.form-require  必須
              %p  最大4枚までアップロードできます
              .sell-dropbox.clearfix
                .upload-dropbox#dropArea
                  .upload-dropbox__text
                    -# ドラッグアンドドロップ
                    %br クリックしてファイルをアップロード
                    .upload-img
                      = f.fields_for :images do |i|
                        = i.file_field :image, id: "fileInput", class: "file"
                    .upload-img
                      = f.fields_for :images do |i|
                        = i.file_field :image, id: "fileInput", class: "file"
                    .upload-img
                      = f.fields_for :images do |i|
                        = i.file_field :image, id: "fileInput", class: "file"
                    .upload-img
                      = f.fields_for :images do |i|
                        = i.file_field :image, id: "fileInput", class: "file"
        .sell-content
          .form-group
            %label
              = f.label :item_name, "商品名" do
                商品名
                %span.form-require  必須
            = f.text_field :item_name, class: "input-default item-name", placeholder: "商品名（必須 40文字まで)",required: ""
          .form-group
            = f.label :description, "商品の説明" do
              商品の説明
              %span.form-require  必須
            =f.text_area :description, rows: 5, class: "input-default item-detail", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。", required: ""
        .sell-content.clearfix
          %h3.sell-sub-head  商品の詳細
          .sell-form-box
            .form-group
              %label
                = f.label :large_category_id, "カテゴリー" do
                  カテゴリー
                  %span.form-require  必須
              .select-wrap
                = f.collection_select :large_category_id,LargeCategory.all, :id, :large_category,{prompt: '---'},required: "", class: "select-default"
                = fa_icon 'angle-down', class: 'angle-down-icon'
              .select-wrap
                = f.collection_select :medium_category_id,MediumCategory.all, :id, :medium_category,{prompt: '---'},required: "", class: "select-default"
                = fa_icon 'angle-down', class: 'angle-down-icon'
              .select-wrap
                = f.collection_select :small_category_id,SmallCategory.all, :id, :small_category,{prompt: '---'},required: "", class: "select-default"
                = fa_icon 'angle-down', class: 'angle-down-icon'
            .form-group
              = f.label :size, "サイズ" do
                サイズ
                %span.form-require  必須
              .select-wrap
                = f.select :size,[["XS以下","XS以下"],["S","S"],["M","M"],["L","L"],["XL","XL"],["XL以上","XL以上"],["FREE SIZE","FREE SIZE"]],{prompt: '---'}, required: "",class: "select-default"
                = fa_icon 'angle-down', class: 'angle-down-icon'
            .form-group
              = f.label :bland_id, "ブランド"
              .select-wrap
                = f.collection_select :bland_id,Bland.all, :id, :bland,{prompt: '該当ブランドあればご選択ください'}, class: "select-default"
                = fa_icon 'angle-down', class: 'angle-down-icon'
            .form-group
              = f.label :condition, "商品の状態" do
                商品の状態
                %span.form-require  必須
              .select-wrap
                = f.select :condition,[["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]],{prompt: '---'},required: "",class: "select-default"
                = fa_icon 'angle-down', class: 'angle-down-icon'

        .sell-content.clearfix
          %h3.sell-sub-head  配送について
          %a.form-question
            = fa_icon 'question-circle', class: 'question-icon'
            .sell-form-box
              .form-group
                = f.label :charge_method,"配送料の負担" do
                  配送料の負担
                  %span.form-require  必須
                .select-wrap
                  = f.select :charge_method,[["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]],{prompt: '---'},required: "", class: "select-default"
                  = fa_icon 'angle-down', class: 'angle-down-icon'
              .form-group
                = f.label :delivery_method,"配送の方法" do
                  配送の方法
                  %span.form-require  必須
                .select-wrap
                  = f.select :delivery_method, [["未定","未定"],["らくらくメルカリ便","らくらくメルカリ便"],["ゆうメール","ゆうメール"],["レターパック","レターパック"],["普通郵便（定形、定形外）","普通郵便（定形、定形外）"],["クロネコヤマト","クロネコヤマト"],["ゆうパック","ゆうパック"],["クリックポスト","クリックポスト"],["ゆうパケット","ゆうパケット"]],{prompt: '---'},required: "", class: "select-default"
                  = fa_icon 'angle-down', class: 'angle-down-icon'
              .form-group
                = f.label :prefecture, "発送元の地域" do
                  発送元の地域
                  %span.form-require  必須
                .select-wrap
                  = f.select :prefecture, Item.prefectures.keys.to_a,{prompt: '---'},required: "", class: "select-default"
                  = fa_icon 'angle-down', class: 'angle-down-icon'
              .form-group
                = f.label :handling_time, "発送までの日数" do
                  発送までの日数
                  %span.form-require  必須
                .select-wrap
                  = f.select :handling_time, [["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"],["4~7日で発送","4~7日で発送"]], {prompt: '---'},required: "", class: "select-default"
                  = fa_icon 'angle-down', class: 'angle-down-icon'
        .sell-content.clearfix
          %h3.sell-sub-head  販売価格(300〜9,999,999)
          %a.form-question
          = fa_icon 'question-circle', class: 'question-icon'
          .sell-form-box
            %ul.sell-price
              %li.form-group
                .clearfix
                  = f.label :price, "価格", html:{class: "label l-left"} do
                    価格
                    %span.form-require  必須
                  %label.l-right
                    .price  ¥
                    .price
                      = f.text_field :price, required: "",class: "input-default", id: "amount", placeholder: "例）300"
              %li.clearfix
                .l-left  販売手数料 (10%)
                .l-right#commission  -
              %li.clearfix.bold
                .l-left  販売利益
                .l-right#sales-profit  -
        .sell-content.sell-btn-box
          .text
            %p  禁止されている出品、行為を必ずご確認ください。
            %p  またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            %p  また、出品をもちまして加盟店規約に同意したことになります。
          = f.submit "出品する", class: "btn-default btn-red"
          = link_to 'もどる', :back, class: "btn-default btn-gray"
  =render "items/shared/simple_footer"
